openapi: 3.0.3
info:
  title: NetCoin Public API
  version: 0.38.1
  description: |
    Public HTTP API served by every NetCoin node (default port 28444) and by the
    hosted relay at `https://api.netcoin.online/api`.

    Two families of endpoints share one origin:

    * **Node API** — consensus data: blocks, transactions, balances, UTXOs,
      mempool, fees, peers. Read endpoints are open; `POST /tx` accepts signed
      transactions.
    * **App layer** (`/api/...` on the hosted relay) — optional indexed services
      layered on top of the chain: invoices, usernames, webhooks, escrows,
      NET-20 style tokens, community tools. These are **not consensus**: a node
      can disable them without affecting Send/Receive/Balance.

    Networks filtered by Charter/CUJO-style DNS blocking can use the raw seed
    IP form, e.g. `http://18.220.89.128/api`.

    Stable node API clients should call the `/v1/...` aliases. Unversioned node
    routes remain available for compatibility and return `Deprecation: true`
    plus `Link: </v1/...>; rel="successor-version"`.
  license:
    name: MIT
    url: https://github.com/netcoin-crl/netcoin/blob/main/LICENSE
servers:
  - url: https://api.netcoin.online/api
    description: Hosted relay (seed1) — same-origin `/api/*` proxy to the node
  - url: http://18.220.89.128/api
    description: Raw-IP fallback for domain-filtered networks
  - url: http://127.0.0.1:28444
    description: Local node (no `/api` prefix)
  - url: http://127.0.0.1:28444/v1
    description: Local node stable v1 API prefix
tags:
  - name: node
    description: Chain, block, transaction, and mempool data
  - name: wallet
    description: Balances, UTXOs, fee estimates, transaction broadcast
  - name: apps
    description: App-layer services (invoices, usernames, webhooks)
  - name: tokens
    description: NET-20 style app-layer token ledger (indexed, not consensus)
  - name: markets
    description: Polymarket-style play-money prediction-market Labs APIs (app-layer only)
paths:

  /health-center:
    get:
      tags: [apps]
      summary: Product health-center payload for operator and exchange dashboards
      responses:
        "200": { description: Sites, feature coverage, release trust, API contract depth, metrics, and active alerts. }
  /product/status:
    get:
      tags: [apps]
      summary: Alias for the NetCoin product health-center payload
      responses:
        "200": { description: Unified product health status. }
  /feature-status:
    get:
      tags: [apps]
      summary: Live feature-to-file/test/route wiring status
      responses:
        "200": { description: Feature probes with working, partial, or missing status. }
  /architecture:
    get:
      tags: [apps]
      summary: Professional hybrid architecture and final-version migration map
      responses:
        "200": { description: Rust/TypeScript/Python architecture layers, upgrade lanes, and v1.0 gates. }
  /migration-status:
    get:
      tags: [apps]
      summary: Cross-language migration parity status and frozen vector fingerprint
      responses:
        "200": { description: Current Python reference runtime, Rust/TypeScript migration lanes, parity vector fingerprint, and v1.0 readiness gates. }
  /parity-status:
    get:
      tags: [apps]
      summary: Executable parity-suite status for Rust/TypeScript migration lanes
      responses:
        "200": { description: Vector fingerprint, per-lane pass/fail counts, and parity bridge status. }

  /markets:
    get:
      tags: [markets]
      summary: List play-money prediction markets
      responses:
        "200": { description: Markets, totals, and testnet warning. }
    post:
      tags: [markets]
      summary: Create a testnet/play-money prediction market
      description: Sensitive write; requires a NetCoin signed envelope/signature on public HTTP writes.
      responses:
        "200": { description: Created market with outcomes, compliance record, and CLOB snapshot. }
  /markets/{market_id}/order:
    post:
      tags: [markets]
      summary: Place a limit, market, IOC, or FOK play-money order
      parameters:
        - { name: market_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Updated market, order book, ticker, trades, and portfolios. }
  /markets/{market_id}/orderbook:
    get:
      tags: [markets]
      summary: Polymarket-style aggregated CLOB levels
      parameters:
        - { name: market_id, in: path, required: true, schema: { type: string } }
        - { name: depth, in: query, schema: { type: integer, default: 25 } }
      responses:
        "200": { description: Per-outcome bids, asks, midpoint, spread, and depth. }
  /markets/{market_id}/ticker:
    get:
      tags: [markets]
      summary: Market ticker with implied probability, bid, ask, spread, and last trade
      parameters:
        - { name: market_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Ticker snapshot. }
  /markets/{market_id}/positions:
    get:
      tags: [markets]
      summary: Marked play-money portfolios for all traders or one trader
      parameters:
        - { name: market_id, in: path, required: true, schema: { type: string } }
        - { name: trader, in: query, schema: { type: string } }
      responses:
        "200": { description: Wallet balances, positions, mark values, and equity. }
  /markets/{market_id}/trades:
    get:
      tags: [markets]
      summary: Recent matched trades for a market
      parameters:
        - { name: market_id, in: path, required: true, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
      responses:
        "200": { description: Recent trade tape with price, quantity, maker, taker, and timestamp. }
  /markets/{market_id}/depth:
    get:
      tags: [markets]
      summary: Depth chart data for UI rendering
      parameters:
        - { name: market_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Cumulative bid/ask depth by outcome. }
  /markets/{market_id}/candles:
    get:
      tags: [markets]
      summary: Probability candle history for charting
      parameters:
        - { name: market_id, in: path, required: true, schema: { type: string } }
        - { name: interval, in: query, schema: { type: integer, default: 3600 } }
      responses:
        "200": { description: OHLC probability candles from matched trades. }
  /markets/{market_id}/open-interest:
    get:
      tags: [markets]
      summary: Open interest by outcome
      parameters:
        - { name: market_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Outstanding play-money shares by market and outcome. }
  /markets/{market_id}/volume:
    get:
      tags: [markets]
      summary: Volume buckets for 1h, 6h, 24h, 7d, and all-time
      parameters:
        - { name: market_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Trade count and notional volume by time bucket. }

  /markets/{market_id}/batch-orders:
    post:
      tags: [markets]
      summary: Place multiple market-maker or trader orders
      description: Sensitive write; requires a NetCoin signed envelope on public HTTP writes.
      responses:
        "200": { description: Batch order placement result. }
  /markets/{market_id}/cancel-all:
    post:
      tags: [markets]
      summary: Cancel all open orders for a trader or market operator
      description: Sensitive write; requires a NetCoin signed envelope on public HTTP writes.
      responses:
        "200": { description: Cancel-all result. }
  /markets/{market_id}/pause:
    post:
      tags: [markets]
      summary: Pause a market
      description: Sensitive admin write; requires a NetCoin signed envelope/signature on public HTTP writes.
      responses:
        "200": { description: Updated market. }
  /markets/{market_id}/resume:
    post:
      tags: [markets]
      summary: Resume a paused market
      description: Sensitive admin write; requires a NetCoin signed envelope/signature on public HTTP writes.
      responses:
        "200": { description: Updated market. }
  /markets/{market_id}/oracles:
    get:
      tags: [markets]
      summary: Market oracle/evidence dossier
      responses:
        "200": { description: Evidence, approved oracles, and disputes for the market. }
  /markets/{market_id}/evidence:
    post:
      tags: [markets]
      summary: Submit market resolution evidence
      description: Sensitive write; requires a NetCoin signed envelope/signature on public HTTP writes.
      responses:
        "200": { description: Evidence object. }
  /markets/{market_id}/reconciliation:
    get:
      tags: [markets]
      summary: Settlement reconciliation report
      responses:
        "200": { description: Claimable payout and accounting checks. }
  /markets/portfolio:
    get:
      tags: [markets]
      summary: Portfolio across all play-money markets
      parameters:
        - { name: trader, in: query, required: true, schema: { type: string } }
      responses:
        "200": { description: Cross-market positions, realized/unrealized PnL, and claimable payout. }
  /markets/external/polymarket:
    get:
      tags: [markets]
      summary: Read-only public Polymarket discovery proxy
      responses:
        "200": { description: Public Gamma market metadata; never routes NetCoin orders externally. }
  /:
    get:
      tags: [node]
      summary: Alias for `/info`
      responses:
        "200": { description: Node and chain summary. }
  /info:
    get:
      tags: [node]
      summary: Node and chain summary
      responses:
        "200":
          description: Height, tip hash, difficulty bits, mempool size, version, bandwidth mode, and service flags.
  /health:
    get:
      tags: [node]
      summary: Fast liveness probe
      responses:
        "200": { description: Node is serving requests. }
  /status-lite:
    get:
      tags: [node]
      summary: Small status document for dashboards
      responses:
        "200": { description: Height, peers, version, uptime. }
  /metrics:
    get:
      tags: [node]
      summary: Prometheus-style metrics
      responses:
        "200": { description: Plain-text metric exposition. }
  /relay:
    get:
      tags: [node]
      summary: Relay queue state
      responses:
        "200": { description: Queue length, relay inventory count, and queued items. }
    post:
      tags: [node]
      summary: Drain the relay queue now
      responses:
        "200": { description: Delivered count and remaining queue length. }
  /events:
    get:
      tags: [node]
      summary: Recent node propagation events
      parameters:
        - { name: limit, in: query, schema: { type: integer, maximum: 500, default: 100 } }
      responses:
        "200": { description: Recent bounded event log. }
  /events/stream:
    get:
      tags: [node]
      summary: Server-sent events stream
      responses:
        "200": { description: "`text/event-stream` of chain events." }
  /chain:
    get:
      tags: [node]
      summary: Paginated block listing
      parameters:
        - { name: start, in: query, schema: { type: integer, default: 0 } }
        - { name: limit, in: query, schema: { type: integer, maximum: 200, default: 200 } }
      responses:
        "200": { description: "`{blocks, start, has_next, next_start, height}`" }
  /headers:
    get:
      tags: [node]
      summary: Block headers
      parameters:
        - { name: start, in: query, schema: { type: integer, default: 0 } }
        - { name: limit, in: query, schema: { type: integer, maximum: 2000, default: 2000 } }
      responses:
        "200": { description: Header list for light verification. }
  /block/{hash}:
    get:
      tags: [node]
      summary: Full block by hash
      parameters:
        - { name: hash, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Header, transactions, coinbase value, subsidy, fees, and weight. }
        "404": { description: Unknown block. }
  /cfilter/{hash}:
    get:
      tags: [node]
      summary: Compact block filter for a block
      parameters:
        - { name: hash, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Filter bytes and filter hash. }
        "404": { description: Unknown block. }
  /compact-block-missing/{hash}:
    get:
      tags: [node]
      summary: Missing transactions for compact-block reconstruction
      parameters:
        - { name: hash, in: path, required: true, schema: { type: string } }
        - { name: have, in: query, schema: { type: string }, description: Comma-separated txids already held by the caller. }
      responses:
        "200": { description: Missing transaction payload. }
        "404": { description: Unknown block. }
  /compact-block/{hash}:
    get:
      tags: [node]
      summary: Compact block announcement payload
      parameters:
        - { name: hash, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Short-id compact block payload. }
        "404": { description: Unknown block. }
  /tx/{txid}:
    get:
      tags: [node]
      summary: Transaction by id
      parameters:
        - { name: txid, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Inputs, outputs, witness, confirmations, and block location. }
        "404": { description: Unknown transaction. }
  /address/{address}:
    get:
      tags: [wallet]
      summary: Address activity summary
      parameters:
        - { name: address, in: path, required: true, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, maximum: 500, default: 100 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        "200": { description: Balance, transaction count, and paginated transaction ids. }
  /balance/{address}:
    get:
      tags: [wallet]
      summary: Balance summary with coinbase-maturity countdown
      parameters:
        - { name: address, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Spendable / immature balances and maturity countdowns in blocks. }
  /latest:
    get:
      tags: [node]
      summary: Most recent blocks
      parameters:
        - { name: n, in: query, schema: { type: integer, maximum: 100, default: 10 } }
      responses:
        "200": { description: "`{height, tip_hash, blocks: [...]}`" }
  /latest-txs:
    get:
      tags: [node]
      summary: Most recent transactions
      parameters:
        - { name: n, in: query, schema: { type: integer, maximum: 100, default: 20 } }
      responses:
        "200": { description: Recent confirmed and mempool transactions. }
  /supply:
    get:
      tags: [node]
      summary: Circulating supply and emission schedule status
      responses:
        "200": { description: Minted supply, current subsidy, and next reduction height. }
  /emission:
    get:
      tags: [node]
      summary: Emission report at the current height
      responses:
        "200": { description: Era, subsidy, minted supply, and reduction schedule data. }
  /p2p-hardening:
    get:
      tags: [node]
      summary: Public P2P hardening status
      responses:
        "200": { description: Peer scoring, anti-eclipse, relay, and address-hardening status. }
  /blocktemplate:
    get:
      tags: [node]
      summary: Miner block template
      parameters:
        - { name: address, in: query, schema: { type: string }, description: Optional payout address. }
      responses:
        "200": { description: Template consumed by `netcoin miner` and SDK clients. }
  /mempool:
    get:
      tags: [node]
      summary: Mempool contents and statistics
      parameters:
        - { name: transactions, in: query, schema: { type: boolean, default: true } }
        - { name: limit, in: query, schema: { type: integer, maximum: 500, default: 100 } }
      responses:
        "200": { description: Pending transactions, fee/expiry metadata, and summary stats. }
  /fee-estimates:
    get:
      tags: [wallet]
      summary: Fee presets from recent blocks and mempool
      responses:
        "200": { description: Slow, normal, and fast fee presets. }
  /peers:
    get:
      tags: [node]
      summary: Known peers and reputation
      responses:
        "200": { description: Peer list with scores and ban state. }
    post:
      tags: [node]
      summary: Add one or more peers
      requestBody:
        content:
          application/json:
            example: { peers: ["http://127.0.0.1:28445"] }
      responses:
        "200": { description: Updated peer list. }
  /utxos:
    get:
      tags: [wallet]
      summary: Spendable UTXOs for an address
      parameters:
        - { name: address, in: query, required: true, schema: { type: string } }
        - { name: include_mempool_spent, in: query, schema: { type: boolean, default: false } }
      responses:
        "200": { description: UTXO list and mempool-spent exclusion count. }
  /tx:
    post:
      tags: [wallet]
      summary: Broadcast a signed transaction
      parameters:
        - { name: private, in: query, schema: { type: boolean, default: false }, description: Accept locally without relay. }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, description: Signed NetCoin transaction JSON. }
      responses:
        "200": { description: Accepted into the mempool. }
        "400": { description: Rejected transaction. }
        "429": { description: Rate limit exceeded; includes `Retry-After`. }
  /package:
    post:
      tags: [wallet]
      summary: Submit an ancestor/child transaction package
      parameters:
        - { name: private, in: query, schema: { type: boolean, default: false }, description: Accept locally without relay. }
      responses:
        "200": { description: Accepted package with txids and relay count. }
        "400": { description: Rejected package. }
  /block:
    post:
      tags: [node]
      summary: Submit a solved block
      responses:
        "200": { description: Accepted block hash and relay count. }
        "400": { description: Invalid block. }
  /submitblock:
    post:
      tags: [node]
      summary: Alias for `POST /block`
      responses:
        "200": { description: Accepted block hash and relay count. }
        "400": { description: Invalid block. }
  /compact-block:
    post:
      tags: [node]
      summary: Submit a compact block plus optional missing transactions
      responses:
        "200": { description: Reconstructed and accepted block. }
        "202": { description: More transactions are required; response lists missing ids. }
        "400": { description: Invalid compact block. }
  /mempool/clear:
    post:
      tags: [node]
      summary: Clear local mempool (operator token required)
      responses:
        "200": { description: Count of cleared transactions. }
        "401": { description: Operator token required. }
  /mempool/prune:
    post:
      tags: [node]
      summary: Evict expired mempool transactions (operator token required)
      responses:
        "200": { description: Count of evicted transactions. }
        "401": { description: Operator token required. }
  /sync:
    post:
      tags: [node]
      summary: Trigger peer synchronization
      responses:
        "200": { description: Adopted-chain count and node info. }
  /keys/register:
    post:
      tags: [apps]
      summary: Get a free developer API key (open, per-IP daily cap)
      description: |
        App-layer writes require a key when the node runs with
        `NETCOIN_APP_REQUIRE_API_KEY=1` (the hosted relay does). Send the key
        as the `X-Netcoin-Api-Key` header. Reads and `POST /tx` stay open.
      responses:
        "200":
          description: New key (only its hash is stored).
          content:
            application/json:
              example: { key_id: "key_ab12", app: "my-app", api_key: "nck_..." }
        "429": { description: Per-IP registration cap reached. }
  /payments:
    post:
      tags: [apps]
      summary: Create an invoice
      requestBody:
        required: true
        content:
          application/json:
            example: { recipient_address: "net1q...", amount: "1.25", memo: "Order #123" }
      responses:
        "200": { description: "Invoice with `payment_uri`, `checkout_path`, and status tracking." }
  /invoices/{invoice_id}:
    get:
      tags: [apps]
      summary: Invoice status (unpaid / paid / confirmed / expired)
      parameters:
        - { name: invoice_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Live status resolved against the chain. }
  /usernames:
    get:
      tags: [apps]
      summary: List registered usernames
      responses:
        "200": { description: Public username directory. }
    post:
      tags: [apps]
      summary: Register or update a username → address mapping
      responses:
        "200": { description: Stored record. }
  /merchant/webhooks:
    post:
      tags: [apps]
      summary: Register a merchant webhook (https, public hosts only — SSRF guarded)
      responses:
        "200": { description: Webhook record with signing secret. }
  /tokens:
    get:
      tags: [tokens]
      summary: List app-layer tokens
      responses:
        "200": { description: "`{tokens: [...], count}` (balances omitted; see /tokens/{ref}/balances)." }
    post:
      tags: [tokens]
      summary: Create a token
      description: Supports wallet-signed app actions with `signed_message` and `signature`. Sign the canonical action message for `tokens.create`. Signatures are optional by default and can be made required by operators.
      requestBody:
        required: true
        content:
          application/json:
            example: { symbol: "DEMO", name: "Demo Points", decimals: 2, creator: "net1q...", initial_supply: "100", max_supply: "150", mintable: true, signed_message: "NetCoin app-layer action\nv1\ntokens.create\n{...}", signature: "base64..." }
      responses:
        "200": { description: Created token record. }
        "400": { description: Invalid symbol/decimals, duplicate symbol, or bad account. }
  /tokens/{ref}:
    get:
      tags: [tokens]
      summary: Token info by id or symbol
      parameters:
        - { name: ref, in: path, required: true, schema: { type: string }, description: token_id or symbol }
      responses:
        "200": { description: Token metadata, supply, holder count. }
        "400": { description: Token not found. }
  /tokens/{ref}/balances:
    get:
      tags: [tokens]
      summary: Holder list with balances
      parameters:
        - { name: ref, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Sorted holder balances. }
  /tokens/{ref}/balance/{account}:
    get:
      tags: [tokens]
      summary: One account's balance
      parameters:
        - { name: ref, in: path, required: true, schema: { type: string } }
        - { name: account, in: path, required: true, schema: { type: string }, description: NetCoin address or @username }
      responses:
        "200": { description: "`{account, units, amount}`" }
  /tokens/{ref}/events:
    get:
      tags: [tokens]
      summary: Token event log (create / mint / transfer / burn)
      parameters:
        - { name: ref, in: path, required: true, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 100, maximum: 500 } }
      responses:
        "200": { description: Newest-first event list. }
  /tokens/{ref}/mint:
    post:
      tags: [tokens]
      summary: Mint new supply (creator only, capped by max_supply)
      description: Supports wallet-signed app actions with `signed_message` and `signature`. Sign the canonical action message for `tokens.mint`.
      parameters:
        - { name: ref, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            example: { minter: "net1q...", to: "@alice", amount: "50", signed_message: "NetCoin app-layer action\nv1\ntokens.mint\n{...}", signature: "base64..." }
      responses:
        "200": { description: Recipient balance after mint. }
        "400": { description: Not mintable, wrong minter, or exceeds max supply. }
  /tokens/{ref}/transfer:
    post:
      tags: [tokens]
      summary: Transfer between accounts
      description: Supports wallet-signed app actions with `signed_message` and `signature`. Sign the canonical action message for `tokens.transfer`.
      parameters:
        - { name: ref, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            example: { from: "net1q...", to: "@bob", amount: "25.5", signed_message: "NetCoin app-layer action\nv1\ntokens.transfer\n{...}", signature: "base64..." }
      responses:
        "200": { description: Sender and recipient balances after transfer. }
        "400": { description: Insufficient balance or invalid account. }
  /tokens/{ref}/burn:
    post:
      tags: [tokens]
      summary: Burn supply from an account
      description: Supports wallet-signed app actions with `signed_message` and `signature`. Sign the canonical action message for `tokens.burn`.
      parameters:
        - { name: ref, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            example: { from: "net1q...", amount: "0.5", signed_message: "NetCoin app-layer action\nv1\ntokens.burn\n{...}", signature: "base64..." }
      responses:
        "200": { description: Account balance after burn. }
  /wallet/statement:
    get:
      tags: [apps]
      summary: Monthly wallet statement (also `.csv` / `.pdf` variants)
      parameters:
        - { name: address, in: query, required: true, schema: { type: string } }
        - { name: month, in: query, schema: { type: string, example: "2026-07" } }
      responses:
        "200": { description: Statement document. }
  /community/posts:
    get:
      tags: [apps]
      summary: Community feed
      responses:
        "200": { description: Recent posts. }
  /explorer/address/{address}:
    get:
      tags: [explorer]
      summary: Rich address profile for the product Explorer UI
      parameters:
        - { name: address, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Balance, UTXOs, activity, exports, and profile metadata. }
  /explorer/address/{address}/csv:
    get:
      tags: [explorer]
      summary: Address activity CSV export
      parameters:
        - { name: address, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: CSV transaction activity. }
  /explorer/tx/{txid}:
    get:
      tags: [explorer]
      summary: Rich transaction detail payload
      parameters:
        - { name: txid, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Transaction status, confirmations, block, and raw fields. }
  /explorer/block/{id}:
    get:
      tags: [explorer]
      summary: Rich block detail payload by height or hash
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Block summary, txids, and raw fields. }
  /explorer/mempool:
    get:
      tags: [explorer]
      summary: Mempool dashboard payload
      responses:
        "200": { description: Mempool summary and pending transactions. }
  /explorer/watchlist:
    get:
      tags: [explorer]
      summary: Explorer watchlist activity cards
      responses:
        "200": { description: Watched address activity summaries. }
  /wallet/workflow:
    get:
      tags: [wallet]
      summary: Wallet send safety workflow status
      responses:
        "200": { description: Drafts, approvals, fee presets, vault, and offline signing status. }
  /wallet/drafts:
    post:
      tags: [wallet]
      summary: Save a transaction draft for later approval or offline signing
      responses:
        "200": { description: Draft record. }
  /operator/live:
    get:
      tags: [operator]
      summary: Live operator control-room payload
      responses:
        "200": { description: Height, peers, mempool, runbook actions, and diagnostic bundle link. }
  /exchange/live:
    get:
      tags: [exchange]
      summary: Live exchange custody dashboard payload
      responses:
        "200": { description: Deposits, withdrawals, approvals, custody, reserve attestations, and risk alerts. }
  /release/verify:
    get:
      tags: [release]
      summary: Release verification readiness and checksum check
      responses:
        "200": { description: Verification tool status, commands, and optional checksum result. }
    post:
      tags: [release]
      summary: Verify release metadata from the browser verification page
      responses:
        "200": { description: Verification summary. }
  /operator/diagnostics/bundle:
    get:
      tags: [operator]
      summary: Redacted operator diagnostic bundle
      responses:
        "200": { description: Health-center payload, operator controls, and bundle hash. }
  /faucet/status:
    get:
      tags: [faucet]
      summary: Faucet admin/status payload for dashboard UI
      responses:
        "200": { description: Pause state, request history, abuse log, reputation, and spend caps. }


  /api/parity-vectors:
    get:
      summary: Return frozen parity vectors for Rust/TypeScript migration lanes.
      responses:
        '200': { description: Parity vectors }
  /api/migration-readiness:
    get:
      summary: Return migration readiness, parity status, and final-version gates.
      responses:
        '200': { description: Migration readiness }
